@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    // overflow-y: hidden !important;
    background-color: #adadad !important;
}

[class^="marp-"] {
    margin-top: 150px !important;
    // height: 90vh !important;

    // overflow-y: scroll !important;
    svg {
        // margin: auto;
        // max-height: 94vh !important;
        // position: absolute;
        padding: 1em 0 !important;

        // width: 98vw !important;
        // height: 98vh !important;
        foreignObject {
            section {
                // background-color: rgb(255, 255, 255) !important;
                /*padding: 0 !important;
                height: 100vh !important;
                height: 100% !important;
                width: 100vw !important;
                width: 100% !important;*/
            }
        }
    }
}
.input-radio:checked ~ .radio-box {
    color: white;
    background-color: #4f46e5;
}

.logo-text {
    cursor: default;
    font-family: 'Quicksand', sans-serif;
}